.list_head {
    padding: 1.6rem 1.6rem 0rem 1.6rem;
    background-color: #fff;
    display: flex;
    border-radius:8px;
    margin-bottom: 1rem;
}

.list_body {
    padding: 1rem;
    background-color: #fff;
    border-radius:8px;
    text-align: center;
}
